@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__item/element__item.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__trash/element__trash.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/page/page.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__button-close-cards/popup__button-close-cards.css);
@import url(../blocks/popup/__button-close-image/popup__button-close-image.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/_image/popup_image.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input-wrapper/popup__input-wrapper.css);
@import url(../blocks/popup/__big-image/popup__big-image.css);
@import url(../blocks/popup/__button-close-image/popup__button-close-image.css);
@import url(../blocks/popup/__container-image/popup__container-image.css);
@import url(../blocks/popup/__title-big-image/popup__title-big-image.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__head/profile__head.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__pencil/profile__pencil.css);
@import url(../blocks/profile/__plus/profile__plus.css);
